.poem-rate-btn {
  float: right;
}

.poem-item {
  max-width: 400px;
  margin: 40px;
}

.poem-item > a {
  text-decoration: underline;
  color: blue;
}

.poem-body {
  font-style: italic;
  font-weight: bold;
  font-size: x-large; 
}

#poem-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: x-large;
}

#greeting {
  font-weight: bold;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 10px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 10px;
}

#login,
#add-poem,
#sign-up,
#rate-poem {
  width: 600px;
}

input[type="text"], [type="password"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
